{% extends 'base.html.twig' %}

{% block title %}Lot index{% endblock %}

{% block body %}
    <h3>Liste des lots</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Nom
            <th>Vente</th>
            <th>Prix de Depart</th>
            <th>Meilleure enchère</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
            <tr>
                <td>{{ lot.nom }}</td>
                <td>{{ lot.idVente.typeDeVente }}</td>
                <td>{{ lot.prixDepart }} {{ lot.idVente.devise }}</td>
                <td>{% for enchere in bestEncheres %}
                        {% if enchere.idLot == lot %}
                            {% if enchere.montant != -1 %}
                                {{ enchere.montant }} {{ lot.idVente.devise }}
                            {% else %}
                                Aucune
                            {% endif %}
                        {% endif %}
                    {% endfor %}</td>
                <td>
                    <a href="{{ path('lot_show', {'id': lot.id}) }}">Enchérir</a>
                    <a href="{{ path('produit_index')}}">Produits</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
