{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Etat</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.etat }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun produit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
