{% extends 'base.html.twig' %}

{% block title %}Lot{% endblock %}

{% block body %}
    <h1>{{ lot.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ lot.description }}</td>
            </tr>
            <tr>
                <th>Prix de départ</th>
                <td>{{ lot.prixDepart }} €</td>
            </tr>
            <tr>
                <th>Meilleure enchère</th>
                <td>{{ bestEnchere.montant }} €</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ lot.isVendu ? 'Vendu' : 'En vente' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('') }}">faire une enchère</a>
    <a href="{{ path('lot_index') }}">back to list</a>

{% endblock %}
