{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}
    <h1>Vente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Nom de la vente</th>
                <td>{{ vente.typeDeVente }}</td>
            </tr>
            <tr>
                <th>Devise</th>
                <td>{{ vente.devise }}</td>
            </tr>
            <tr>
                <th>Date de début</th>
                <td>{{ vente.dateDebut ? vente.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ vente.dateFin ? vente.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Heure de début</th>
                <td>{{ vente.heureDebut ? vente.heureDebut|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure de fin</th>
                <td>{{ vente.heureFin ? vente.heureFin|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>

    <h3>Liste des lots</h3>

    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prix de Depart</th>
            <th>Meilleure enchère</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for lot in lots %}
            <tr>
                <td>{{ lot.nom }}</td>
                <td>{{ lot.prixDepart }} {{ vente.devise }}</td>
                <td>{% for enchere in bestEncheres %}
                        {% if enchere.idLot == lot %}
                            {% if enchere.montant != -1 %}
                                {{ enchere.montant }} {{ vente.devise }}
                            {% else %}
                                Aucune
                            {% endif %}
                        {% endif %}
                    {% endfor %}</td>
                <td>
                    <a href="{{ path('lot_show', {'id': lot.id}) }}">Enchérir</a>
                    <a href="{{ path('lot_produits', {'id': lot.id}) }}">Produits</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('home') }}">back to list</a>

{% endblock %}
