{% extends 'base.html.twig' %}

{% block title %}Enchere index{% endblock %}

{% block body %}
    <h1>Encheres de {{ app.user.pseudo }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Lot</th>
                <th>Montant</th>
                <th>Acheteur</th>
                <th>Date</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enchere in encheres %}
            <tr>
                <td>{{ enchere.idLot.nom }}</td>
                <td>{{ enchere.montant }}</td>
                <td>{{ enchere.idUtilisateur.pseudo }}</td>
                <td>{{ enchere.date ? enchere.date|date('Y-m-d') : '' }}</td>
                <td>{{ enchere.heure ? enchere.heure|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('lot_show', {'id': enchere.idLot.id}) }}">voir lot</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
